{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'issues-grid' %}
{% set pageTitle = 'oro.bug.issue.entity_label'|trans %}

{% block navButtons %}
    {% if resource_granted('bug.issue_view') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('bug.issue_create'),
                'entity_label': 'oro.bug.issue.entity_label'|trans
            }) }}
        </div>
    {% endif %}

    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class:            entity_class,
    importProcessor:         'oro_bug_issue',
    exportProcessor:         'oro_bug_issue',
    exportTemplateProcessor: 'oro_bug_issue',
    dataGridName:             gridName
    } %}
{% endblock %}